<footer class="mini-footer">
  <div class="mini-footer-container">
    <div class="logo-text">🍔 Burger Hut</div>

    <ul class="mini-footer-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/offers">Offers</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>

    <div class="mini-footer-social">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-instagram'></i></a>
      <a href="#"><i class='bx bxl-twitter'></i></a>
    </div>
  </div>

  <div class="mini-footer-bottom">
    <p>© 2025 Burger Hut</p>
  </div>
</footer>
